* {
  box-sizing: border-box;
}

:root {
  --color-1: #d35266;
  --color-2: #888;
  --color-3: #383838;
  --simple-border: solid 1px lightgray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f5f6;
}

/* ============== Common Styles ============== */

.text-1 {
  color: var(--color-1);
}

.text-2 {
  color: var(--color-2);
}

.text-3 {
  color: var(--color-3);
}

.text-white {
  color: #fff;
}

.text-link {
  color: rgb(94, 94, 250);
  text-decoration: none;
}

.bg-1 {
  background-color: var(--color-1);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}

.bg-white {
  background-color: #fff;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.btn-border {
  border: solid white 2px;
  border-radius: 1rem;
}

/* ============== Navbar Styles ============== */

.navbar {
  height: auto;
  font-size: 0.85rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to bottom, var(--color-3) 50%, #202020);
}

.logo {
  align-items: inherit;
  text-decoration: none;
}

.logo-img {
  height: 3rem;
  margin: 0.5rem;
  width: auto;
  transition: 0.6s;
}

.navbar span {
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 4%;
  max-width: 7rem;
  transition: color 0.4s;
}

.navbar span {
  display: none;
}

.nav-btn {
  text-decoration: none;
  font-weight: 600;
  border: none;
  padding: 0.2rem 0.7rem;
  margin-left: 4%;
}

/* ============== Header Styles ============== */

.header {
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
  position: relative;
  height: 15rem;
}

.header h1 {
  text-shadow: 1px 1px 5px black;
  margin: 0;
}

.slogan {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 2.5rem;
}

.search {
  flex-wrap: wrap;
  width: 52%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
}

.zone {
  display: none;
}

.zone,
.search-btn {
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
}

.input {
  height: 2.25rem;
  width: 75%;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0 1rem;
  outline: none;
}

.search-btn {
  width: 25%;
  text-align: center;
  border: solid white 2px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* ============== Related Styles ============== */

.top-section {
  max-width: 32rem;
  margin: 1rem;
  padding: 0.2rem 2rem;
  font-size: 0.8rem;
  box-shadow: grey 0 0 10px;
  border-radius: 4px;
  border-radius: 5px;
}

.related {
  margin: 0.6rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.related img {
  width: 100%;
  max-height: 10rem;
  max-width: 16rem;
  margin: 0 auto;
  border-radius: 6px;
}

.info {
  justify-content: space-between;
}

.info h3 {
  margin: 0.5rem 0;
  text-align: center;
}

.info p {
  margin: 0;
}

.contact {
  justify-content: space-between;
  align-items: center;
}

.contact span {
  font-weight: 600;
}

/* ============== Row Ads ============== */

.ad-group {
  max-width: 32rem;
  margin: 1rem auto;
  padding: 0.2rem 2rem;
  font-size: 0.8rem;
}

.view-all {
  font-size: 0.8rem;
}

.row-ad {
  height: auto;
  margin: 1rem 0;
  flex-wrap: wrap;
  display: grid;
  grid-template: repeat(4, 1fr) / 100%;
  row-gap: 1.5rem;
}

.ad {
  border: var(--simple-border);
  transition: 0.5s;
  border-radius: 8px;
}

.ad img {
  width: 100%;
  height: 50%;
}

.ad-info {
  padding: 0rem 1rem 1rem;
  height: 50%;
}

/* ============== Search Page Styles ============== */

.tool-bar {
  width: 100%;
  padding: 0.8rem 1rem;
  border-bottom: var(--simple-border);
}

.d-icons {
  display: inline-block;
}

.tool-bar i {
  margin-left: 1.4rem;
  cursor: pointer;
}

.fa-th-list {
  color: blue;
}

/* ============== Filters Styles ============== */
.filters {
  margin: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  display: none;
  border: var(--simple-border);
  border-bottom: none;
}

.filters h4 {
  margin: 0;
}

.checkbox {
  margin: 0rem 0.5rem 1rem;
}

.extras {
  font-size: 0.8rem;
  width: 6.5rem;
}

.filters hr {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: lightgray;
  border: none;
}

/* ============== Results Styles ============== */

.results {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.search-result {
  margin: 0 1rem 1rem;
  padding: 1rem;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 12px gray;
}

.search-result img {
  width: 100%;
  height: auto;
}

.result-info {
  padding: 0 1rem;
}

.result-info p {
  margin-bottom: 2rem;
}

.bottom-bar {
  border-top: var(--simple-border);
  font-size: 0.8rem;
  text-align: right;
}

.bottom-bar i {
  color: var(--color-3);
  margin: 0 0.5rem;
}

/* ============== Media Querys ============== */
@media only screen and (min-width: 575px) {
  .top-section {
    max-width: 85%;
    margin: 2rem auto;
  }

  .related {
    flex-wrap: nowrap;
  }

  .info {
    max-width: 100%;
    margin-left: 1rem;
  }

  .info h3 {
    text-align: left;
  }

  .ad-group {
    max-width: 85%;
    padding: 0;
  }

  .row-ad {
    grid-template: 50% / repeat(2, 1fr);
    grid-gap: 1.3rem;
  }

  .display {
    width: 100%;
    padding: 0.8rem 3rem;
    text-align: right;
  }

  .search-result {
    flex-direction: row;
  }

  .search-result img {
    width: 35%;
  }
}
@media only screen and (min-width: 769px) {
  .navbar {
    justify-content: start;
    padding-left: 4.5rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .navbar span {
    display: inline;
  }

  .search-bar,
  .zone {
    margin: 0 1rem;
  }

  .zone {
    display: inline;
  }

  .search-bar {
    width: 50%;
    max-width: 20rem;
  }

  .ad-group {
    margin: 4rem auto;
  }

  .row-ad {
    grid-template: 100% / repeat(4, 1fr);
    grid-gap: 1.2rem;
  }

  .filters-sm {
    display: none;
  }

  .filters {
    display: block;
  }

  .search-result img {
    width: 25%;
    max-width: 11rem;
  }
}

/* ============== Hover Styles ============== */

.nav-link:hover {
  color: var(--color-1);
}

.logo img:hover {
  transform: rotatey(180deg);
}

.zone,
.top-section,
.ad,
.checkbox input {
  cursor: pointer;
}

.ad:hover {
  box-shadow: grey 0 0 15px;
}

.ad img:hover {
  cursor: zoom-in;
}

.text-link:hover {
  text-decoration: underline;
}
